<div class="content">
    <div class="div-1">
        <h1>SERVIDOR FUNCIONANDO</h1>
        <p>ir a estos links:</p>
        <a href="http://localhost:8080/products"> ver lista de productos</a>
        <a href="http://localhost:8080/realTimeProducts"> crear producto en tiempo real</a>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>